.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}

.reveal blockquote {
  background: none;
  box-shadow: none;
  border-left: 8px solid #134674;
  padding: 0 0 0 20px;
}

.aten-logo {
  width: 30%;
}
